@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    background: #1d2949;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 10px rgba(42, 45, 74, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 350px; /* Ajustar tamaño según necesidad */
    padding: 10px; /* Ajustar según necesidad */

}

.logo-text {
    color: white;
    font-size: 22px; /* Ajustar tamaño según necesidad */
    font-weight: bold;
    margin-left: 10px; /* Ajustar según necesidad */
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: background 0.3s;
}

a.active, a:hover {
    background: #1b9bff;
}

.checkbtn {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .logo-text {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        flex-direction: column;
    }
    nav ul li {
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
    width: 48%; /* Ajustar según necesidad */
}

.upload-btn-wrapper .btn, button[type="submit"] {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: #284567;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    width: 100%; /* Ajustar según necesidad */
    box-sizing: border-box; /* Asegurar que padding y width funcionen juntos */
}

.upload-btn-wrapper .btn:hover, button[type="submit"]:hover {
    background: #005DD1;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#image-preview {
    display: none;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    width: 48%; /* Ajustar según necesidad */
    box-sizing: border-box; /* Asegurar que padding y width funcionen juntos */
    margin-left: 4%; /* Ajustar según necesidad */
}

button[type="submit"]:hover {
    background: #218838;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 20px;
    }

    .upload-btn-wrapper .btn, button[type="submit"] {
        font-size: 14px;
        width: 100%; 
        margin: 10px 0; /
    }
}

